@model ProjectTracker.Models.Projects

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProjectID" />
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SDFRNo" class="control-label"></label>
                <input asp-for="SDFRNo" class="form-control" />
                <span asp-validation-for="SDFRNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerID" class="control-label"></label>
                <input asp-for="CustomerID" class="form-control" />
                <span asp-validation-for="CustomerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductID" class="control-label"></label>
                <input asp-for="ProductID" class="form-control" />
                <span asp-validation-for="ProductID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectName" class="control-label"></label>
                <input asp-for="ProjectName" class="form-control" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestFrom" class="control-label"></label>
                <input asp-for="RequestFrom" class="form-control" />
                <span asp-validation-for="RequestFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestedDate" class="control-label"></label>
                <input asp-for="RequestedDate" class="form-control" />
                <span asp-validation-for="RequestedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewedBy" class="control-label"></label>
                <input asp-for="ReviewedBy" class="form-control" />
                <span asp-validation-for="ReviewedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewCompletion" class="control-label"></label>
                <input asp-for="ReviewCompletion" class="form-control" />
                <span asp-validation-for="ReviewCompletion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SOWCreatedBy" class="control-label"></label>
                <input asp-for="SOWCreatedBy" class="form-control" />
                <span asp-validation-for="SOWCreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SOWCreatedOn" class="control-label"></label>
                <input asp-for="SOWCreatedOn" class="form-control" />
                <span asp-validation-for="SOWCreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SOWReviewedBy" class="control-label"></label>
                <input asp-for="SOWReviewedBy" class="form-control" />
                <span asp-validation-for="SOWReviewedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SOWReviewedOn" class="control-label"></label>
                <input asp-for="SOWReviewedOn" class="form-control" />
                <span asp-validation-for="SOWReviewedOn" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SOWSentYN" /> @Html.DisplayNameFor(model => model.SOWSentYN)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ProposalSentYN" /> @Html.DisplayNameFor(model => model.ProposalSentYN)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ProposalSentDate" class="control-label"></label>
                <input asp-for="ProposalSentDate" class="form-control" />
                <span asp-validation-for="ProposalSentDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="POReceivedYN" /> @Html.DisplayNameFor(model => model.POReceivedYN)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="POReceivedDate" class="control-label"></label>
                <input asp-for="POReceivedDate" class="form-control" />
                <span asp-validation-for="POReceivedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="POAmount" class="control-label"></label>
                <input asp-for="POAmount" class="form-control" />
                <span asp-validation-for="POAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeveloperID" class="control-label"></label>
                <input asp-for="DeveloperID" class="form-control" />
                <span asp-validation-for="DeveloperID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevelopmentStartDate" class="control-label"></label>
                <input asp-for="DevelopmentStartDate" class="form-control" />
                <span asp-validation-for="DevelopmentStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevelopmentEndDate" class="control-label"></label>
                <input asp-for="DevelopmentEndDate" class="form-control" />
                <span asp-validation-for="DevelopmentEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevelopmentStatus" class="control-label"></label>
                <input asp-for="DevelopmentStatus" class="form-control" />
                <span asp-validation-for="DevelopmentStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectManagerID" class="control-label"></label>
                <input asp-for="ProjectManagerID" class="form-control" />
                <span asp-validation-for="ProjectManagerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectStatus" class="control-label"></label>
                <input asp-for="ProjectStatus" class="form-control" />
                <span asp-validation-for="ProjectStatus" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="NotesID" class="control-label"></label>
                <input asp-for="NotesID" class="form-control" />
                <span asp-validation-for="NotesID" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
