@model ProjectTracker.Models.Note
@{
    Layout = "";
}
@{
    ViewData["Title"] = "Notes";
}
<link href="~/css/Main.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    <div class="popup">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <h1>Notes</h1>
        <div >
            <input class="txt" type="date" asp-for="Date"  />
            <span asp-validation-for="Date" ></span>
        </div><br/>

              <div>
                  <textarea class="scrollabletextbox txtare" asp-for="Notes" placeholder="Notes"></textarea>
                  <span asp-validation-for="Notes" class="text-danger"></span>
              </div>

        <div class="form-group">
            <input type="submit" class="popbtn" value="Add" asp-action="Popup" asp-controller="Project" />
        </div>

    </div>
}