@model ProjectTracker.Models.Projects

    <link href="~/css/Main.css" rel="stylesheet" />

@using (Html.BeginForm())
{

    <button class="profilebtn" asp-controller="Project" asp-action="ProjectList">Projects</button>

    <button class="profilebtn" asp-controller="Home" asp-action="EmployeeDetails">Profile</button>

    <button class="profilebtn" asp-controller="Product" asp-action="ProductList">Product</button>

    <button class="profilebtn" asp-controller="Customer" asp-action="CustomerList">Customer</button>


}