@model ProjectTracker.Models.Employees
@{
    ViewBag.Title = "Login";
}
<link href="~/css/Login.css" rel="stylesheet" />
@using (Html.BeginForm())
{


    <div class="login">
        <h1>Login</h1>

        <form class="form" method="post" action="Login">

            <p class="field">
                <input type="text" name="Name" placeholder="User Name" required />
                @*<i class="fa fa-user p-2"></i>*@
            </p>
            <p class="field">
                <input type="password" name="Password" placeholder="Password" required />
                @*<i class="fa fa-lock"></i>*@
            </p>
            <p class="submit"><input type="submit" name="sent" value="Login"></p>
        </form>

    </div>
}