@model ProjectTracker.Models.Employees

@{
    ViewData["Title"] = "Create";
}

<link href="~/css/Login.css" rel="stylesheet" />
@using (Html.BeginForm())
{

    <div class="Signup">
        <h1>Sign Up</h1>
        <form class="form" method="post" action="SignUp">
            <p class="field">
                <input type="text" name="Name" placeholder="Name" required />
            </p>
            <p class="field">
                <input type="text" name="Position" placeholder="Position" required />
            </p>
            <p class="field">
                <input type="text" name="Phone" placeholder="Phone" required />
            </p>
            <p class="field">
                <input type="email" name="Mail" placeholder="Mail" required />
            </p>
            <p class="field">
                <input type="password" name="Password" placeholder="Password" required />
            </p>
            <p class="submit"><input type="submit" name="sent" value="Sign Up"></p>
        </form>

    </div>
    }
 